.tasks-header {
  display: flex;
  justify-content: space-between; /* extremos */
  align-items: center;
  padding: 10px 20px;
  background-color: #f3f4f6;
  border-bottom: 1px solid #ddd;
}

.tasks-header h2 {
  margin: 0;
  font-size: 24px; /* tamaño más visible */
}

.tasks-header button {
  padding: 5px 10px; /* reducir tamaño del botón */
  font-size: 14px;   /* tamaño de texto más pequeño */
  cursor: pointer;
}
